[Desktop Entry]
Version=1.0
Name=CabbageStudio
GenericName=Audio development workstation
Type=Application
Categories=AudioVideo;Audio;Multimedia
Exec=CURRENTDIR/CabbageBuild/CabbageStudio
Terminal=false
StartupNotify=false
Icon=CURRENTDIR/CabbageBuild/CabbageStudio.png
